<footer
  class="d-flex flex-wrap justify-content-around align-items-center border-top bg-gradient bg-dark"
>
  <p class="col-md-4 mb-0 text-light">© 2024 Stefano</p>

  <a
    routerLink="/"
    class="col-md-4 d-flex align-items-center justify-content-center"
  >
    <img
      src="../../../assets/img/logo.png"
      class="personal-img"
      alt="imgLogo"
    />
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item">
      <a routerLink="/" class="nav-link px-2 text-light m-2">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/fiat" class="nav-link px-2 text-light m-2">Fiat</a>
    </li>
    <li class="nav-item">
      <a routerLink="/ford" class="nav-link px-2 text-light m-2">Ford</a>
    </li>
    <li class="nav-item">
      <a routerLink="/audi" class="nav-link px-2 text-light m-2">Audi</a>
    </li>
  </ul>
</footer>
